.icon {
    user-select: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    position: absolute;
    top: -5px;
    left: 100%;
}
.message_wrapper {
    z-index: 12;
    width: 250px;
    height: 70px;
    font-size: 27px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.25);
    display: none;
    position: absolute;
    top: -30px;
    left: 200%;
}

.icon:hover .message_wrapper {
    display: block;
}